@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "variables";
@import "mixins";
@import "media-breakpoints";
@import "normalize";
@import "components/titlesStyle";
@import "sections/navbar";
@import "sections/hero";
@import "sections/services";
@import "sections/portfolio";
@import "sections/AboutUs";
@import "sections/OurTeam";
@import "sections/logos";
@import "sections/contact";
@import "sections/footer";


body {
    margin: 0 auto;
    text-align: center;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}








