
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "mixins";


.main-hero-desc{
            height: 55px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 75px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 40px;
}
.mainTitle{
    padding: 110px 0 65px;
    h2{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
    }
    p{
    color: #777777;
    font-family: "Droid Serif";
    font-size: 16px;
    font-style: italic;
    }
}

.lowerTitle{
    h3{
        color: #222222;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: -0.45px;
        margin: 0;
        text-transform: capitalize;
    }
    p{
        color: #777777;
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.35px;
    }
}

.portPhotoTitle{
            width: 291px;
            height: 393px;
            background-color: #ffffff;
            margin: 0 17px 50px;
            
    h3{
        color: #333333;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        text-transform: capitalize;
        margin-top: 30px;
    }
    p{
        color: #737373;
        font-family: "Droid Serif";
        font-size: 14px;
        font-style: italic;
        text-transform: capitalize;
    }
}
.workersTitle{
    h3{
        color: #222222;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        font-family: "Montserrat - Bold";
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 50px;
        margin-bottom: 0;
    }
    p{
        color: #777777;
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.35px;
        margin-bottom: 5px;
    }
}
.borderCircImg{
    border: solid 7px #F3F3F3;
    border-radius: 100%;
}

body {
    margin: 0 auto;
    text-align: center;
}
.container{
    max-width: 980px;
    margin: 0 auto;
}

.nav {
    @include flex-fit;
    margin-top: 55px;
    .navbar {
        z-index: 2;
        img {
           width: 79px;
           height: 28px;
           margin-right: 374px;
        }
        ul {
            list-style-type: none;
            
            li {
                display: inline-block;
                padding: 0 20px;
            
                a {
                    width: 45px;
                    height: 10px;
                    color: #fff;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 41px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: 750px;
    @include flex-fit;
    @include background-fit;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    &::after{
        content:"";
        background-image: url("../images/Background_Image.png");
        @include background-fit;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .hero-content {
        @include flex-fit;
        flex-wrap: wrap;
        height: 266px;
        margin-top: 100px;
            p{
                text-transform: capitalize;
                 width: 600px;
                height: 32px;
                color: #fff;
                font-family: "Droid Serif";
                font-size: 40px;
                font-style: italic;
                letter-spacing: -1px;
                text-align: center;
                
            }
            a {
                button {
                    width: 240px;
                    height: 65px;
                    background-color: #fed136;
                    color: #fff;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 10px;
            
            }
        }
    }
}
.services{
    margin: 620px 0 110px;
    .container{
        .row{
             @include flex-fit;
            .item{
                 max-width: 320px;
                padding: 0 25px;    
            }
        }
    }    
}

.portfolio{
    background-color:#f7f7f7;
    padding-bottom: 60px;
    .container{
        .portImages{
            @include flex-fit;
            flex-wrap: wrap;
        }
    }
}

.AboutUs{
    .container{
        .verticalEvent{
            [class*="element"]{
                position: relative;
                
                [class*="desc"]{
                    position: absolute;
                    top: 0;
                    h3{
                        line-height: 25px;
                    }
                    p{
                        margin-top: 5px;
                    }
                }                
                .desc-left{
                    margin-right: 65%;
                    text-align: right;
                }
                .desc-right{
                    margin-left: 65%;
                    text-align: left;
                }
            }
            .fifth-element{
                margin-bottom: 110px;
            
            }
        }
    }
}




.OurTeam{
    background-color:#f7f7f7;
    min-height: 820px;
    .container{
        .workers{
            @include flex-fit;
            flex-wrap: wrap;
            .worker{
                padding: 0 30px 0;
                i{
                    width: 41px;
                    height: 41px;
                    padding: 10px;
                    border: 3px solid #222222;
                    background-color: #f9f9f9;
                    border-radius: 50%;
                }
            }
            .descBelow{
                max-width: 600px;
                margin: 45px 0 110px;
                color: #777777;
                font-family: "Roboto Slab";
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.35px;
                
            }
        }
    }
}





.logos{
    min-height: 165px;
    @include flex-fit;
    .container{
        img{
            padding: 18px;
        }
    }
}

.contact{
    width: 100%;
    min-height: 680px;
    background-image: url('../images/BackgroundForm.png');
    position: relative;
    &::after{
        content:"";
        background-image: url("../images/Map_Image.png");
        width: 40%;
        height: 80%;
        position: absolute;
        top: 20%;
        left: 60%;
    }
    .container{
        .mainTitle{
            h2{
                color: #ffffff
            }
        }
        button{
            color: #ffffff;
            margin: 20px 0 110px;
        }
    }
}

.footer{
    min-height: 90px;
    @include flex-fit;
    .container{
        .row{
            p{
                margin: 5px 100px 5px 5px;
            }
            i{
                width: 41px;
                height: 41px;
                padding: 10px;
                color: #ffffff;
                border: 3px solid #222222;
                background-color: #222222;
                border-radius: 50%;
                margin: 5px;
                
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    
    .nav {
        .navbar {
            display: block;
            img {
                margin-right: 0px;
            }
            ul {
                li {
                    padding: 0 10px;
                }
            }
        }
    }

    .hero-content {
        h1 {
         max-width: 840px;
         }
        a {
            button {
            margin-top: 100px;
            }
        }
    }
    
    .services{
        margin-top: 595px;
    }

    .footer{
        .container{
            .row{
                p{
                margin: 5px 100px 5px 20px;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    
    .nav {
        .navbar {
            display: block;
            img {
               margin-right: 0px;
            }
            ul {
                padding-left: 0;
                li {
                    padding: 0 10px;
                    display: block;
                }
            }
        }
    }

    .hero-content {
        p{
            margin-top: 40px;
        }
        .main-hero-desc{
            max-width: 700px;
            font-size: 60px;
        }
        a {
            button {
                margin-top: 70px;
            }
        }
    }
    
    .services{
        margin-top: 450px;
    }

    .AboutUs{
        .container{
            .verticalEvent{
               [class*="element"]{
                  position: static;
                  padding: 0 60px;
                     [class*="desc"]{
                         position: static;
                         text-align: center;
                         margin: 25px auto 40px;
                     }
                    .desc-left{
                         margin-right: 0;
                     }
                     .desc-right{
                         margin-left: 0;
                     }
                }
                 .verticalLine{
                     display: none;
                }
            }
         }
     }
    
    .footer{
        .container{
            .row{
                display: block;
                p{
                    margin: 5px;
                }
            }
        }
    }
}